
  @import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

html, body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
  background-color: #000000;
  /* font-family: 'Creepster', cursive; */
  background-image: url("https://gateway.pinata.cloud/ipfs/QmNTXWer55pi7x75qcioDHXby7WVeNMk2eaTXS7jP7ALCR?_gl=1*zy8sbh*rs_ga*YWRhM2IxZDgtZWRlNS00YmUwLWFmNDEtZWYxNTgxZWM5OWE5*rs_ga_5RMPXG14TE*MTY4MjUwMzQ1Mi4zLjEuMTY4MjUwMzY4MC42MC4wLjA.");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}
.container {
  display: flex;

  flex-direction: column;
}
.grow-on-render {
  transition: transform 0.5s ease;
  transform: scale(1);
  margin: 1px;
  max-width: fit-content;
}

.grow-on-render:hover {
  transform: scale(1.1);
}

.maintitle {
  font-family: 'Creepster', cursive;
  color: #D21312;
  font-size: 50px;
}
.headings {
  display: flex;
  justify-content: flex-end;
}
.headings h2{
  display: flex;
 justify-content: flex-end;
 text-transform: uppercase;
 color: #F7D060;
 font-family: 'Creepster', cursive;
 margin: 10px;
}

button {
  background-color: #E74646; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  /* font-family: 'Creepster', cursive; */
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

/* Button hover effect */
button:hover {
  background-color: #FA9884;
}

.nfts{
  display: flex;
  width:min-content;
  background-color: #000000;
  border: 5px solid #000000;
  border-radius: 5px;
  /* padding: 5px; */
  
}

.nft button {
  margin: 3px;
  padding: 5px !important;
}

.withdraw {
  top: 0;
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 87%;
}
.widthNormal {
  width: auto;
}

img {
  border-radius: 4px;
}
